
@{
    ViewBag.Title = "Created";
}

<h2>Congratulations! Your event has been created!</h2>
<h3>An event notification has been sent to the following users:</h3>
<div class="container">

    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Sally Harrison
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Nicole Smith
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Samuel Levine
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Christina Lo
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Hannah Nguyen
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-light">
            &#10004; Nicole Smith
        </div>
    </div>
</div>
