
@{
    ViewBag.Title = "Details";
}

<h2>Competition: Sonora High School</h2>
<h5>Basic Details</h5>
<h5><small>Type: Competition</small></h5>
<h5><small>Date: 09/13/2019</small></h5>
<h5><small>Time: 6 PM</small></h5>
<h5>
    <small>Location: Sonora High School </small>
    <a class="btn btn-success btn-sm" href="https://goo.gl/maps/WTekfhdx4XB8Hwx69" role="button">Map</a>
</h5>


