
@{
    ViewBag.Title = "Details";
}

<h2>Competition: Sonora High School</h2>
<h5>Basic Details</h5>
<h5><small>Type: Competition</small></h5>
<h5><small>Date: 09/13/2019</small></h5>
<h5><small>Time: 6 PM</small></h5>
<h5>
    <small>Location: Sonora High School </small>
    <a class="btn btn-success btn-sm" href="https://goo.gl/maps/WTekfhdx4XB8Hwx69" role="button">Map</a>
</h5>

<p>


</p>

<div class="container">
    <h5>Tasks Assignment</h5>

    <table class="table table-striped  table table-bordered table-sm">
        <thead>
            <tr>
                <th>Food</th>
                <th>Name</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Snack</td>
                <td>Sally Harrison</td>
                <td>
                    <p>Quantity: 30  </p>
                    <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods List", "Index", "ApprovedFoods")</a>
                </td>
            </tr>
            <tr>
                <td>Drinks</td>
                <td>Tom Ford</td>
                <td>
                    <p>Quantity: 30  </p>
                    <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods List", "Index", "ApprovedFoods")</a>
                </td>
            </tr>
            <tr>
                <td>Lunch</td>
                <td>Luna Dooley</td>
                <td>
                    <p>Quantity: 30  </p>
                    <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods List", "Index", "ApprovedFoods")</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped  table table-bordered table-sm">
        <thead>
            <tr>
                <th>Clean Up Crew</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jon</td>
                <td>Snow</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hannah</td>
                <td>Montana</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Lana</td>
                <td>Lang</td>
            </tr>

        </tbody>
    </table>

    <table class="table table-striped table table-bordered table-sm">
        <thead>
            <tr>
                <th>Transportation</th>
                <th>Name</th>
                <th>Seats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>James Jonah</td>
                <td>6</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Harry Willis</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Phillip Carl</td>
                <td>4</td>
            </tr>

        </tbody>
    </table>

    <table class="table table-striped table table-bordered table-sm">
        <thead>
            <tr>
                <th>Hosting</th>
                <th>Name</th>
                <th>Duties</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anne Smith</td>
                <td>Provide Lodging</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Harold Smith</td>
                <td>Provide Games</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sarah Parker</td>
                <td>Provide Food</td>
            </tr>

        </tbody>
    </table>

    <table class="table table-striped table table-bordered table-sm">
        <thead>
            <tr>
                <th>Other Assignment</th>
                <th>Name</th>
                <th>Duties</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Parental Team Gear</td>
                <td>Jamie Curtis</td>
                <td>Pass out team gear to parents</td>
            </tr>
            <tr>
                <td>Rally Lead</td>
                <td>Joan Ucoll</td>
                <td>Gather parents to rally for athletes</td>
            </tr>
            <tr>
                <td>Attendance</td>
                <td>Shane Cahoun</td>
                <td>Take attendance of parents</td>
            </tr>

        </tbody>
    </table>

</div>

