
@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Event 1</h3>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h3>Event 2</h3>
        </div>
    </div>
</div>