@using Voluncheer.Models;
@model OutfitViewModel
@{
    ViewBag.Title = "Outfits";
}
<p>
    <h2>VolunCheer Outfits</h2>
</p>
<div id="outfit-details" class="container border">
    @{
        foreach (var Outfit in Model.OutfitList)
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("Click Me", "Read", new { id = Outfit.OutfitName }, new { @class = "small" })
                    </div>
                    <div class="col">
                        <label class="col-sm-1" for="title">@Outfit.OutfitName </label>
                    </div>
                    <div class="col">
                        <img class="col-sm-2 rounded" src="@Url.Content(Outfit.ImagePath)" />
                    </div>
                </div>
            </div>
            <div class="border-bottom my-3"></div>
        }
    }
</div>

