
@{
    ViewBag.Title = "DocumentRepository";
}

<h2>Document Repository</h2>
<div class="row text-md-center">
    <div class=" mt-4 col-md-4">
        <a href="~/Content/Documents/FieldTrip.doc?target=_blank">
            <img src="~/Content/Img/docicon.png" alt="Field Trip Form" height="60" width="50">

        </a>

        <h6>Field Trip Form</h6>

    </div>


    <div class="mt-4 col-md-4 ">
        <a href="~/Content/Documents/physical exam.pdf?target=_blank">
            <img src="~/Content/Img/docIcon.png" alt="Physical Exam Form" height="60" width="50">
        </a>

        <h6>
            Physical Exam Form
        </h6>
    </div>


    <div class="mt-4 col-md-4">
        <a href="~/Content/Documents/absence_request.pdf?target=_blank">
            <img src="~/Content/Img/docIcon.png" alt="Physical Exam Form" height="60" width="50">
        </a>

        <h6>
            Absence Form
        </h6>
    </div>
</div>
