@using Voluncheer.Models;
@model ChatConversationModel
@{
    ViewBag.Title = "ChatDialog";
}

<style>
    #chatbox {
        height: 60vh;
    }
    #messagebox {
        max-width: none;
    }
</style>
<div class="row">
    <div class="col">
        <div id="chatbox" class="overflow-auto border">
            @{ 
                foreach (var message in Model.Thread)
                {
                    <p>
                        <span class="text-primary">@message.UserName:</span> @message.Message
                    </p>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col mt-10">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="message-prepend">Message:</span>
            </div>
            <input id="messagebox" type="text" class="form-control" placeholder="Type your message" area-label="Message" aria-describedby="message-prepend">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var chatbox, messagebox, currentResponse = 0;

    var responses = [
        'Absolutely!',
        'No problem! I can definitely help with that!',
        'Sure!',
        'Great!',
        'Alright!',
        "I'll do anything!",
        "Yep! I'll see you there!"
    ];

    window.onload = function () {
        chatbox = document.getElementById('chatbox');
        messagebox = document.getElementById('messagebox');
    };

    function sendMessage() {
        var messageText = messagebox.value;
        var messageMarkup = `
        <p>
             <span class="text-primary">User:</span> ${messageText}
        </p>
        `;
        chatbox.innerHTML += messageMarkup;
        messagebox.value = '';

        var responseText = responses[currentResponse];
        currentResponse = (currentResponse + 1) % responses.length;
        var responseMarkup = `
        <p>
             <span class="text-primary">Jon Snow:</span> ${responseText}
        </p>`

        setTimeout(function () {
            chatbox.innerHTML += responseMarkup;
        }, 500);
    }
</script>