
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>
<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-3">
            <table class="table table-striped  table table-bordered table-sm">
                <col width="35%" />
                <col width="35%" />
                <col width="30%" />
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jon</td>
                        <td>Snow</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>
                    <tr>
                        <td>Hannah</td>
                        <td>Montana</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>
                    <tr>
                        <td>Lana</td>
                        <td>Lang</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>
                    <tr>
                        <td>Sally</td>
                        <td>Harrison</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>
                    <tr>
                        <td>Tom</td>
                        <td>Ford</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>
                    <tr>
                        <td>Luna</td>
                        <td>Dooley</td>
                        <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="40%" alt="message" /></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-9">
            <table class="table table-striped  table table-bordered table-responsive-lg">
                <thead>
                    <tr>
                        <th>Chat Room Topics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.ActionLink("Next Social Event", "Dialog", "Chat")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Next Practice", "Dialog", "Chat")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Where can I can more info on the events", "Dialog", "Chat")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("I can't go to next week event, anyone what to trade?", "Dialog", "Chat")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


@*@RenderPage("Dialog.cshtml")*@
