
@{
    ViewBag.Title = "Profile";
}

<h3>Profile</h3>
<div id="basic-details" class="container border">
    <img class="col-sm-1 rounded" src="~/Content/Img/ProfileIcon.png" />
    <h5><small>First Name: </small></h5>
    <h5><small>Last Name: </small></h5>
    <h5><small>Phone Number: </small></h5>
    <h5><small>Email: </small></h5>
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea 
                  name="notes" 
                  type="text" 
                  placeholder="Enter special notes here" 
                  class="form-control"
                  style="max-width: none; width: 50%"></textarea>
    </div>
</div>

