
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="form-group">
    <label for="notes">Notes:</label>
    <input name="notes" type="text" placeholder="Enter special notes here" class="form-control" />
</div>

