
@{
    ViewBag.Title = "Index";
}

<h2>Approved Foods</h2>

<table class="table">
    <tr>
        <th>Category 1 <a href="#" class="btn btn-danger">X</a></th>
        <th>Category 2 <a href="#" class="btn btn-danger">X</a></th>
        <th>Category 3 <a href="#" class="btn btn-danger">X</a></th>
        <th>@Html.ActionLink("+ Add Category", "AddCategory", "ApprovedFoods", null, new { @class = "btn btn-success" })</th>
    </tr>
    <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
    </tr>
    <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
    </tr>
    <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
    </tr>
    <tr>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("+ Add", "AddItem", "ApprovedFoods")</td>
        <td>Item</td>
        <td>Item</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("+ Add", "AddItem", "ApprovedFoods")</td>
        <td>Item</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>@Html.ActionLink("+ Add", "AddItem", "ApprovedFoods")</td>
    </tr>
</table>