
@{
    ViewBag.Title = "Index";
}
<p>
    <h2>Approved Foods</h2>
</p>
<div class="container-fluid border">
    <div class="row">
        <h5 class="col" style="background-color:cornflowerblue; height:28px;">SNACKS</h5>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Apple</div>
        <div class="col-sm-4">&#9642; Orange</div>
        <div class="col-sm-4">&#9642; Pineapple</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Protein Bar</div>
        <div class="col-sm-4">&#9642; Banana</div>
        <div class="col-sm-4">&#9642; Trail Mix</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Yogurt</div>
        <div class="col-sm-4">&#9642; Jerky</div>
        <div class="col-sm-4">&#9642; Almond</div>
    </div>
    <div class="row">
        <h5 class="col" style="background-color:cornflowerblue; height:28px;">DRINKS</h5>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Apple Juice</div>
        <div class="col-sm-4">&#9642; Orange Juice</div>
        <div class="col-sm-4">&#9642; Pineapple Juice</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Coconut Juice</div>
        <div class="col-sm-4">&#9642; Limonana Juice</div>
        <div class="col-sm-4">&#9642; Pomegranate Juice</div>
    </div>
    <div class="row">
        <h5 class="col" style="background-color:cornflowerblue; height:28px;">MEALS</h5>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Turkey Sandwiches</div>
        <div class="col-sm-4">&#9642; Chicken Permesan Wraps</div>
        <div class="col-sm-4">&#9642; Pizza</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Chicken Pot Pies</div>
        <div class="col-sm-4">&#9642; Oatmeal Cups</div>
        <div class="col-sm-4">&#9642; Mac and Cheese Muffins</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Ham and cheese Sandwiches</div>
        <div class="col-sm-4">&#9642; BTL</div>
        <div class="col-sm-4">&#9642; Quesadilla</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Turkey Roll-ups</div>
        <div class="col-sm-4">&#9642; Tuna fish Sandwich</div>
        <div class="col-sm-4">&#9642; Egg and Ham Sandwich</div>
    </div>
    <div class="row">
        <div class="col-sm-4">&#9642; Breakfast Burrito</div>
        <div class="col-sm-4">&#9642; Grilled Cheese Sandwich</div>
        <div class="col-sm-4">&#9642; Peanut Butter Jelly Sandwich</div>
    </div>
</div>
